body {
    background-image: url("../images/blackmirror.png");
    width: 100%
}

h1 {
    font-size: 43px;
    background: white;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right:10%;
    padding: 15px;
    font-family: 'Faster One', cursive;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-top: 10px;
}


img {
    margin: 10px;
}


.sidebar {
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

span {
    padding-left: 3px;
    padding-right:3px;
    background-color: yellow; 
    font-size: 15px;
}

.background {
    background-image: url("../images/backsplash.jpg");
}

.container {
    background-color: white;
    margin-top: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5px;
    text-align: center;
}

#currentword {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
}

#scoreboard {
    padding: 20px;
}